<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_navbar.ejs') %>
        <title>My Pantry</title>
    </head>
    <body>
        <h1>Welcome to <%= user.username %>'s Pantry</h1>
        <% if (pantry.length > 0) { %>
            <ul>
                <% pantry.forEach((item) => { %>
                <li>
                    <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST">
                        <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">
                            <%= item.name %> <%= item.foodType %> - <%= item.calories %> calories
                        </a>
                        <button type="submit">Delete Food</button>
                    </form>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Pantry is empty</p>
            <% } %>
        
        <a href="/users/<%=user._id%>/foods/new">Add a new food item</a>
    </body>
</html>